<!DOCTYPE html>

<html lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="cabecalho">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title th:include=" :: #titulo">SISPE- Sistema de Ponto Eletronico</title>
    <meta name="description" content="SISPE - Sistema de Ponto Eletrônico - UEMA">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../static/images/brasao_uema.png" th:href="@{/images/brasao_uema.png}"/>
    <link rel="shortcut icon" href="../../static/images/brasao-uema1.ico" th:href="@{/images/brasao-uema1.ico}"/>

    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css}">
    <link rel="stylesheet"
          th:href="@{https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css}">
    <link rel="stylesheet"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link th:href='@{https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800}' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js}"></script>

    <script type="text/javascript">
        function Alerta() {
            decisao = confirm("Deseja Realmente Sair do Sistema?");
            if (decisao) {
                window.location.replace("/login");
            } else {
                window.location.reload();
            }
        }
    </script>

    <style>

        #footer-inner {
            flex-wrap: initial;
            flex-direction: row;
            max-width: 100%;
            display: flex;
            align-items: center;
            position: absolute;

        }

        #footer-img {
            align-items: center;
            justify-content: center;
        }

        #footer-text {
            align-items: center;
            justify-content: center;
            margin-right: auto;
        }

        #footer-text2 {
            align-items: center;
            justify-content: center;
            margin-left: auto;
        }

        #logo {
            width: 150px;
            height: 40px;
        }

        @media only screen and (max-width: 768px) {

            #footer-inner {
                flex-wrap: initial;
                flex-direction: column;
                max-width: 100%;
                display: flex;
                position: absolute;
            }

            #footer-img {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                flex-direction: row;
                justify-content: center;
            }

            #footer-text {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                flex-direction: row;
                justify-content: center;
            }

            #footer-text2 {
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                flex-direction: column;
                justify-content: center;
            }
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

    </style>

</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel" th:fragment="menu_principal">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="../ponto/pontolist.html" th:href="@{/pontodiario}"><i class="menu-icon fa fa-clock-o"></i>Ponto
                        Diário </a>
                </li>
                <li class="menu-title">Menu Principal</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa  fa-plus"></i>Cadastros</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa  fa-hand-o-right"></i><a href="../cadastro/cadastro-digital"
                                                                  th:href="@{cadastro/cadastro-digital}">Cadastro
                            Digitais</a></li>
                        <li><i class="fa fa-desktop"></i><a href="../cadastro/cadastro-maquina"
                                                            th:href="@{cadastro/cadastro-maquina}">Cadastro Máquina</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-title">Relatórios</li><!-- /.menu-title -->

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa  fa-file-text-o"></i>Relatórios</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Relatório
                            Mensal</a>
                        </li>
                        <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Relatório Anual</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-title">Opções</li><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-power-off"></i>Sair</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-sign-in"></i>
                            <a href="javascript:void(0)" onclick=" Alerta()"> Sair </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
        <header id="header" class="header" th:fragment="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{./}"><img
                            src="../../static/images/logo-Sispe.png"
                            th:src="@{/images/logo-Sispe.png}" alt="Logo" id="logo"></a>
                    <a class="navbar-brand hidden" href="./"><img
                            src="../../static/images/logouema.png"
                            th:src="@{/images/logouema.png}" alt="Logo" ></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar ..."
                                       aria-label="Search">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </header>
    <!-- /#header -->

    <div class="clearfix"></div>

    <!-- Footer -->
    <footer class="site-footer" th:fragment="footer">
        <div class="footer-inner bg-white" id="footer-inner">
            <div class="footer_img col-sm-2" id="footer-img">
                <img src="https://www.uema.br/wp-content/uploads/2014/12/brasao-uema.png"
                     class="no-display appear" style="width: 90px"
                     alt="Universidade Estadual do Maranhão - UEMA">
            </div>
            <div class="footer_text col-sm-8 text-center" id="footer-text">
                Todos os Direitos Reservados &copy; Universidade Estadual do Maranhão - UEMA <br>
                Cidade Universitária Paulo VI, Av. Lourenço Vieira da Silva, nº 1000 - Bairro: Jardim São
                Cristovão<br>
                CEP 65055-310 – São Luís-MA. FONE: (98) 2016-8100.<br>
                Pró-Reitoria de Infraestrutura - PROINFRA<br>
                Coordenadoria de Tecnologia da Informação e Comunicação.
            </div>
            <div class="col-sm-2 align-items-center " id="footer-text2">
                Desenvolvido por <a href="https://uema.br"> DDS - CTIC/UEMA </a>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<div th:fragment="scripts">
    <!-- Scripts -->

    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>

    <!--  Chart js -->
    <script th:src="@{https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js}"></script>

    <!--Chartist Chart-->
    <script th:src="@{https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js}"></script>

    <script th:src="@{https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js}"></script>

    <script th:src="@{https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js}"></script>
    <script th:src="@{/assets/js/init/weather-init.js}"></script>

    <script th:src="@{https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js}"></script>
    <script th:src="@{/assets/js/init/fullcalendar-init.js}"></script>
    <script th:src="@{/assets/js/biometria.js}"></script>

    <!-- Data Tables-->
    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "lengthMenu": "Exibir _MENU_ registros por página",
                    "zeroRecords": "Nada encontrado - desculpe",
                    "info": "Mostrando _PAGE_ de _PAGES_",
                    "infoEmpty": "Nenhum registro encontrado",
                    "infoFiltered": "(Filtrados _MAX_ registros)",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing": "Processando...",
                    "sSearch": "Buscar",
                    "oPaginate": {
                        "sNext": "Próximo",
                        "sPrevious": "Anterior",
                        "sFirst": "Primeiro",
                        "sLast": "Último"
                    },
                    "oAria": {
                        "sSortAscending": ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        });
    </script>
</div>

</body>
</html>
